In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [23]:
train = pd.read_csv("train.csv")

In [24]:
train.shape

(668, 11)

In [25]:
train.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.050,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0

In [26]:
Nas = pd.concat([train.isnull().sum()],axis = 1,keys = ['Train'])
Nas[Nas.sum(axis = 1)>0]

          Train
Age         132
Cabin       514
Embarked      1

Replacing Null Values

In [27]:
train["Embarked"] = train["Embarked"].fillna(train["Embarked"].mode()[0])

In [28]:
train["Cabin"] = train["Cabin"].fillna(train["Cabin"].mode()[0])

In [29]:
train["Age"] = train["Age"].fillna(train["Age"].mean())

In [30]:
# Converting integer to string
train["Pclass"] = train["Pclass"].apply(str)

In [31]:
#Getting dummies from all categories var
for col in train.dtypes[train.dtypes == "object"].index:
    for_dummy = train.pop(col)
    train = pd.concat([train,pd.get_dummies(for_dummy, prefix = col)],axis=1)
train.head()

,Age,SibSp,Parch,Fare,Survived,Pclass_1,Pclass_2,Pclass_3,"Name_Abbing, Mr. Anthony","Name_Abbott, Mrs. Stanton (Rosa Hunt)",...,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,29.00000,1,0,26.000,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,29.70056,0,0,8.050,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
2,39.00000,0,0,26.000,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,29.00000,0,4,21.075,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
4,25.00000,0,0,7.050,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1

In [32]:
labels = train.pop('Survived')

In [35]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(train,labels,test_size = 0.25)

In [36]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train,y_train)

RandomForestClassifier()

In [37]:
y_pred = rf.predict(x_test)

In [41]:
from sklearn.metrics import roc_curve , auc
false_positive_rate, true_positive_rate, thresholds = roc_curve(y_test,y_pred)
roc_auc = auc(false_positive_rate,true_positive_rate)
roc_auc

0.7788376220053239

Here accuracy is 77.8%